@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #007BFF;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --font-color: #212529;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
}

header img {
    height: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    padding: 1rem;
}

.hero {
    position: relative;
    a
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1, .hero article {
    position: absolute;
    top: 20%;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    top: auto;
    bottom: 450px;
}

.hero article img {
    float: right;
    margin-left: 10px;
    top: auto;
    bottom: 450px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

.sociallinks img {
    height: 30px;
    margin: 0 10px;
}

.sociallinks a {
    color: white;
    text-decoration: none;
}
