@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    --nav-bg-color: #aabd8c;
    --nav-link-color: #ffffff;
    --nav-hover-color: #ffffff;
    --nav-hover-bg-color: #396e94;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 10px;
    background-color: var(--secondary-color);
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: var(--nav-hover-color);
    background-color: var(--nav-hover-bg-color);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
