
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #f9f9f9;
    color: #000;

}

main {
    max-width: 840px;
}

nav{
    background-color: steelblue;
    padding: 10px;
}

aside {
    width: 20em; /* Adjust the width as needed */
    text-align: center;

    /* margin: 20px auto; /* Adjust the margin as needed */
    /* border: 1px solid #ccc; Adjust the border style, width, and color as needed */
    /* padding: 15px; Adjust the padding as needed */
    /* background-color: #f9f9f9; Adjust the background color as needed */
    /* color: #333; Adjust the text color as needed */ 
  }

  main img {
    float: right;
    padding: left;
    position: relative absolute;

  }

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1{
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
aside img {
  width: 200px;
  height: auto;
  position: relative absolute;
}
aside h2 {
    position: relative absolute;

    top: 47px;
    left: 150px;

}

p {
    padding: 0; /* Set the padding to 0 */
    padding-bottom: 7%;
    position: relative absolute;
}

footer {
    margin-top: 20px; /* Adjust the margin-top as needed */
    border-top: 1px solid #ccc; /* Adjust the border-top style, width, and color as needed */
    text-align: center; /* Center-align the text */
  }
  